/* setup for footer icon  */
.icone{
    margin: 10px 20px;
    background-color: white;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px;
}

.icone:hover{
    cursor: pointer;
    zoom: 80%;
}
.btn{
    border-radius: 0px;
}
.row{
    background-color: black;
}